body {
	font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC",
		"Hiragino Sans GB", "Heiti SC", "Microsoft YaHei",
		"WenQuanYi Micro Hei", sans-serif;
}

.top-bar, .top-bar ul {
	background-color: #DAE6F3;
}

.callout.secondary {
	background-color: #DAE6F3;
}

.psi_secondary {
	background-color: #DAE6F3;
	color: black;
}